@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-50: 236, 253, 245;   /* Lightest tint, much lighter than the base */
    --primary-100: 221, 242, 231;  /* Slightly lighter, preparing transition */
    --primary-200: 206, 231, 218;  /* Closer to the base, lighter */
    --primary-300: 191, 220, 205;  /* Gradually approaching the base */
    --primary-400: 179, 214, 196;  /* Nearing the base color */
    --primary-500: 166, 208, 188;  /* Base color */
    --primary-600: 149, 187, 169;  /* Slightly darker than base */
    --primary-700: 132, 166, 150;  /* Darker, more subdued */
    --primary-800: 115, 145, 131;  /* Even darker, moving towards depth */
    --primary-900: 98, 124, 112;   /* Deep and dark */
    --primary-950: 82, 103, 93;    /* Darkest tint, very deep */
    --secondary-50: 241, 229, 238;    /* Lightest tint, significantly lighter */
    --secondary-100: 226, 209, 224;   /* Very light */
    --secondary-200: 211, 189, 210;   /* Light */
    --secondary-300: 196, 169, 196;   /* Lighter than base */
    --secondary-400: 181, 149, 182;   /* Lighter, close to base */
    --secondary-500: 166, 129, 168;   /* Slightly lighter than base */
    --secondary-600: 125, 89, 126;    /* Noticeably darker, deeper */
    --secondary-700: 84, 50, 75;      /* Appropriately placed here */
    --secondary-800: 67, 40, 60;      /* Even more depth */
    --secondary-900: 50, 30, 45;      /* Very dark */
    --secondary-950: 33, 20, 30;      /* Darkest tint */
    --surface-0: 255 255 255;
    --surface-50: 250 250 250;
    --surface-100: 244 244 245;
    --surface-200: 228 228 231;
    --surface-300: 212 212 216;
    --surface-400: 161 161 170;
    --surface-500: 113 113 122;
    --surface-600: 82 82 91;
    --surface-700: 63 63 70;
    --surface-800: 39 39 42;
    --surface-900: 24 24 27;
    --surface-950: 9 9 11;

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
}
.dark{
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
    &:not(.dark){
        --primary: var(--primary-950);
        --primary-inverse: var(--surface-0);
        --primary-hover: var(--primary-800);
        --primary-active-color: var(--primary-900);

        --primary-highlight-opacity: 1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.8;
    }
    &.dark{
        --primary: var(--primary-50);
        --primary-inverse: var(--surface-950);
        --primary-hover: var(--primary-100);
        --primary-active-color: var(--primary-100);

        --primary-highlight-opacity: 0.1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.2;

    }
}

@layer base { 
  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Black.ttf') format('truetype');
    font-weight: 900;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraBold.ttf') format('truetype');
    font-weight: 800;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Light.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Thin.ttf') format('truetype');
    font-weight: 100;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 200;  
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }

}